# SPDX-FileCopyrightText: 2023 David Castañon Belloso <d4c7@proton.me>
# SPDX-License-Identifier: MIT
# This file is part of zig-argueando project (https://github.com/d4c7/zig-argueando)

.zig-cache
zig-out
.reuse
